@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

.sofia-sans-semi-condensed-<uniquifier> {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


body {
	font-family: "Sofia Sans Semi Condensed", sans-serif;
	background-color: #333;
	color: #fafafa;
} 

.container {
	padding-left: 0px;
}

.logotype img {
	justify-content: center;
	width: 100%;
	height: auto;
	max-width: 500px;
	max-height: 311px;
}

.card-item {
	background-color: #242f35;
	padding: 25px 7px;
	margin: 7px;
	height: auto;
	width: 100%;
	box-shadow: 5px 4px 5px rgba(0, 0, 0, .3);
	border-radius: 5px;
}

.item-ships {
	background-image: url(https://www.devilsmmo.com/webfm_send/103);
	background-color: #242f35;
  	height: auto;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover; 
}

.item-guide {
	background-image: url(https://cdn.alza.cz/Foto/LegendFoto/photos/MVE002227_3.jpg);
	background-color: #242f35;
  	height: auto;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover; 
}

.item-promocod {
	background-image: url(https://image.invaluable.com/housePhotos/julienent/63/568363/H1088-L75504260.jpg);
	background-color: #242f35;
  	height: auto;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover; 
}



.card-item a {
	color: #fafafa;
	font-weight: 600;
	font-size: 35px;
	text-shadow: 1px 1px 2px #242f35;
}

.card-item a:hover {
	color: #fafafa;
	font-weight: 600;
	font-size: 35px;
	text-decoration: none;
}